.candyStoreTransition {
  margin-top: 100px;
  blockquote {
    display: inline-block;
    margin: auto;
  }
}
.logo h1 {
  font-family: 'Rakkas';
  font-size: 30px;
  margin: 0;

}

// Copyright Malcik s.r.o.
// TODO